@model IEnumerable<ShopBanHang.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Sách Đơn Hàng</h2>


<table class="table table-bordered">
    <tr>
        <th>
        Mã Hóa Đơn 
        </th>
        <th>
         Mã Sản Phẩm
        </th>
        <th>
           Số Lượng
        </th>
        <th>
         Đơn Gía
        </th>
        <th>
           Thành Tiền
        </th>
        <th>
           Giảm Gía
        </th>
        <th>
           Trạng Thái
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.maHoaDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giamGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
           
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.maHoaDon }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.maHoaDon })
        </td>
    </tr>
}

</table>
