@model ShopBanHang.Models.ChiTietSanPham
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="single">
    <div class="container left">
        <div class="single-top">
            <div class="col-md-5 single-top">
                <div class="single-w3agile">
                    <div id="picture-frame">
                        <img src="@Model.sanPham.hinhAnh" data-src="" alt="" class="img-responsive" />
                    </div>
                    <script src="~/Areas/Shopper/Content/js/jquery.zoomtoo.js"></script>
                    <script>
                        $(function () {
                            $("#picture-frame").zoomToo({
                                magnify: 1
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="col-md-7 single-top-left ">
            <div class="single-right">
                <h3>@Model.sanPham.tenSanPham</h3>

                <div class="pr-single">

                </div>

                <p class="in-pa">Giá: @Model.sanPham.donGia VND </p>

                <p class="in-pa">@Html.TextBox("1")</p>


            </div>
            <p class="in-pa">Mô tả: @Model.sanPham.moTa </p>

            <ul class="social-top">
                <li><a href="http://facebook.com/profile.php?id=100038291719553" target="_blank" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
            </ul>
            <div class="add add-3">
                <a class="btn btn-success" href="@Url.Action("ThemVaoGio", "GioHang", new { SanPhamID = Model.sanPham.maSanPham })"> <span class="glyphicon glyphicon-shopping-cart"></span>  Thêm vào giỏ </a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    <!--TIêu đề-->
    <div class="spec " style="margin-top:30px;">

        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
    <!--Sản phẩm-->
    <div class="tab-head ">
        <div class=" tab-content tab-content-t ">
            <div class="tab-pane active text-style" id="tab1">
                <div class=" con-w3l">



                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    <!--Giới thiệu-->


    <style>
        .toasang {
            margin: 20px;
            position: relative;
            display: block;
            width: 80px;
            height: 80px;
            text-align: center;
            border-radius: 100%;
            font: 700 30px/80px 'arial';
            text-decoration: none;
            color: #313131;
            z-index: 1;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

            .toasang:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                margin: auto;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 100%;
                background: #dfdfdf;
                z-index: -1;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }

            .toasang:hover {
                color: #fff;
                background: #399;
            }

                .toasang:hover:after {
                    background: transparent;
                    -webkit-transform: scale(1.6);
                    -moz-transform: scale(1.6);
                    -ms-transform: scale(1.6);
                    -o-transform: scale(1.6);
                    transform: scale(1.6);
                }
    </style>

    <script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
