@model ShopBanHang.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết Sản Phẩm</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           Mã Danh Mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maDanhMuc)
        </dd>

        <dt>
         Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenSanPham)
        </dd>

        <dt>
          Hình Ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhAnh)
        </dd>

        <dt>
           Số Lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuong)
        </dd>

        <dt>
        Mô Tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moTa)
        </dd>

        <dt>
           Đơn Gía
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donGia)
        </dd>

        <dt>
           Giảm Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.giamGia)
        </dd>

        <dt>
         Nhà Sản Xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maNhaSanXuat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.maSanPham }) |
    @Html.ActionLink("Trở Về ", "Index")
</p>
